<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <!--Class-Binding to add or remove a class based on the condition: [class.some-css-class]="some-condition"-->
    <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>
<!--Include display component and pass selected hero (one-way data binding)-->
<app-hero-detail [selectedHero]="selectedHero"></app-hero-detail>