<h1>Registration form</h1>

<div class="container" *ngIf="!isSignUpSuccessful">
  <div
    class="alert alert-warning"
    *ngIf="registrationForm.dirty && registrationForm.invalid"
  >
    Please correct your input.
  </div>
  <div class="alert alert-warning" *ngIf="password.dirty && password.invalid">
    Please correct your email.
  </div>
  <div class="alert alert-warning" *ngIf="password.dirty && password.invalid">
    Please correct the password.
  </div>
  <div class="alert alert-warning" *ngIf="username.dirty && username.invalid">
    Please correct the username.
  </div>

  <form
    (ngSubmit)="registrationForm.valid && onSubmit()"
    #registrationForm="ngForm"
  >
    <fieldset class="form-group">
      <label>
        User Name:
        <input
          type="text"
          [(ngModel)]="form.username"
          class="form-control"
          name="username"
          minlength="3"
          #username="ngModel"
          required
        />
      </label>
    </fieldset>

    <fieldset class="form-group">
      <label>
        E-Mail:
        <input
          type="email"
          [(ngModel)]="form.email"
          class="form-control"
          name="email"
          minlength="6"
          #email="ngModel"
          required
        />
      </label>
    </fieldset>

    <fieldset class="form-group">
      <label>
        Password:
        <input
          type="password"
          [(ngModel)]="form.password"
          class="form-control"
          name="password"
          minlength="6"
          #password="ngModel"
          required
        />
      </label>
    </fieldset>

    <fieldset class="form-group">
      <label>
        Use wo Step Verification:
        <input
          type="checkbox"
          [(ngModel)]="form.using2FA"
          class="form-control"
          name="using2FA"
          #using2FA="ngModel"
          required
        />
      </label>
    </fieldset>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div class="" *ngIf="isSignUpSuccessful">
  Your registration is successful!
  <div *ngIf="isUsing2FA">
      <p>Scan this QR code using Google Authenticator app on your phone to use it later to login</p>
      <img src="{{qrCodeImg}}" class="img-fluid" />
  </div>
</div>